.btn-blue {
  background-color: #1D3557;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-blue:hover {
  background-color: #E63946;
}
